openapi: 3.1.0
info:
  contact:
    email: contact@lichess.org
    name: Lichess.org API
    url: https://lichess.org/api
  description: |
    # Introduction
    Welcome to the reference for the Lichess API! Lichess is free/libre,
    open-source chess server powered by volunteers and donations.
    - Get help in the [Lichess Discord channel](https://discord.gg/lichess)
    - API demo app with OAuth2 login, gameplay, and more: [source](https://github.com/lichess-org/api-demo) / [demo](https://lichess-org.github.io/api-demo/)
    - [Contribute to this documentation on Github](https://github.com/lichess-org/api)
    - Check out [Lichess widgets to embed in your website](https://lichess.org/developers)
    - [Download all Lichess rated games](https://database.lichess.org/)
    - [Download all Lichess puzzles with themes, ratings and votes](https://database.lichess.org/#puzzles)

    ## Endpoint
    All requests go to `https://lichess.org` (unless otherwise specified).

    ## Clients
    - [Python general API](https://github.com/ZackClements/berserk)
    - [MicroPython general API](https://github.com/mkomon/uberserk)
    - [Python general API - async](https://pypi.org/project/async-lichess-sdk)
    - [Python Lichess Bot](https://github.com/ShailChoksi/lichess-bot)
    - [Python Board API for Certabo](https://github.com/haklein/certabo-lichess)
    - [Java general API](https://github.com/tors42/chariot)

    ## Rate limiting
    All requests are rate limited using various strategies,
    to ensure the API remains responsive for everyone.
    Only make one request at a time.
    If you receive an HTTP response with a [429 status](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#429),
    please wait a full minute before resuming API usage.

    ## Streaming with ND-JSON
    Some API endpoints stream their responses as [Newline Delimited JSON a.k.a. **nd-json**](http://ndjson.org/), with one JSON object per line.

    Here's a [JavaScript utility function](https://gist.github.com/ornicar/a097406810939cf7be1df8ea30e94f3e) to help reading NDJSON streamed responses.
  title: Lichess.org API reference
  version: 2.0.0
  x-logo:
    url: https://lichess1.org/assets/logo/lichess-pad12.svg
servers:
- url: https://lichess.org
tags:
- description: |
    Read and write account information and preferences.
    <https://lichess.org/account/preferences/game-display>
  name: Account
- description: |
    Access registered users on Lichess.
    <https://lichess.org/player>

    - Each user blog exposes an atom (RSS) feed, like <https://lichess.org/@/thibault/blog.atom>
    - User blogs mashup feed: https://lichess.org/blog/community.atom
    - User blogs mashup feed for a language: https://lichess.org/blog/community/fr.atom
  name: Users
- description: |
    Access relations between users.
  name: Relations
- description: |
    Access games played on Lichess.
    <https://lichess.org/games>
  name: Games
- description: |
    Access Lichess TV channels and games.
    <https://lichess.org/tv> & <https://lichess.org/games>
  name: TV
- description: |
    Access Lichess [puzzle history and dashboard](https://lichess.org/training).

    Our collection of puzzles is in the public domain, you can [download it here](https://database.lichess.org/#puzzles).
    For a list of our puzzle themes with their description, check out the [theme translation file](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml).
    The daily puzzle can be [posted in your slack workspace](https://lichess.org/daily-puzzle-slack).
  name: Puzzles
- description: |
    Access and manage Lichess teams and their members.
    <https://lichess.org/team>
  name: Teams
- description: "Play on Lichess with physical boards and third-party clients.\n  Works\
    \ with normal Lichess accounts. Engine play or assistance is [forbidden](https://lichess.org/page/fair-play).\n\
    \n\n### Features\n - [Stream incoming chess moves](#operation/boardGameStream)\n\
    \ - [Play chess moves](#operation/boardGameMove)\n - [Read](#operation/boardGameStream)\
    \ and [write](#operation/boardGameChatPost) in the player and spectator chats\n\
    \ - [Receive](#operation/apiStreamEvent), [create](#operation/challengeCreate)\
    \ and [accept](#operation/challengeAccept) (or [decline](#operation/challengeDecline))\
    \ challenges\n - [Abort](#operation/boardGameAbort) and [resign](#operation/boardGameResign)\
    \ games\n - Compatible with normal Lichess accounts\n\n \n### Restrictions\n -\
    \ Engine assistance, or any kind of outside help, is [forbidden](https://lichess.org/page/fair-play)\n\
    \ - Time controls: [Rapid, Classical and Correspondence](https://lichess.org/faq#time-controls)\
    \ only.\n   For direct challenges and games vs AI, Blitz is also possible.\n\n\
    ### Links\n - [Announcement](https://lichess.org/blog/XlRW5REAAB8AUJJ-/welcome-lichess-boards)\n\
    \ - [Implementation example](https://github.com/lichess-org/api-demo) and [live\
    \ demo](https://lichess-org.github.io/api-demo/)\n\n  - [Certabo support](https://github.com/haklein/certabo-lichess)\n\
    \ - [Lichs (play from command-line)](https://github.com/Cqsi/lichs)\n - [Lichess\
    \ discord bot](https://top.gg/bot/707287095911120968)"
  name: Board
- description: |-
    Play on Lichess as a bot. Allows engine play.
      Read the [blog post announcement of lichess bots](https://lichess.org/blog/WvDNticAAMu_mHKP/welcome-lichess-bots).

      Only works with [Bot accounts](#operation/botAccountUpgrade).


    ### Features
     - [Stream incoming chess moves](#operation/botGameStream)
     - [Play chess moves](#operation/botGameMove)
     - [Read](#operation/botGameStream) and [write](#operation/botGameChat) in the player and spectator chats
     - [Receive](#operation/apiStreamEvent), [create](#operation/challengeCreate) and [accept](#operation/challengeAccept) (or [decline](#operation/challengeDecline)) challenges
     - [Abort](#operation/botGameAbort) and [resign](#operation/botGameResign) games
     - Engine assistance is [allowed](https://lichess.org/page/fair-play)

    ### Restrictions
     - Bots can only play challenge games:  pools and tournaments are off-limits
     - Bots cannot play UltraBullet (¼+0) because it requires making too many requests. But 0+1 and ½+0 are allowed.

    ### Integrations
     - [Python3 lichess-bot](https://github.com/ShailChoksi/lichess-bot) (official)
     - [JavaScript bot-o-tron](https://github.com/tailuge/bot-o-tron)
     - [Golang lichess-bot](https://github.com/dolegi/lichess-bot)
     - [Electronic Chessboard](http://www.oliviermercier.com/res/projects/chessboard/)  - Yours? Please make [an issue or pull request](https://github.com/lichess-org/api).

    ### Links
     - [Announcement](https://lichess.org/blog/WvDNticAAMu_mHKP/welcome-lichess-bots)
     - Join the [Lichess Bots team](https://lichess.org/team/lichess-bots) with your bot account
     - [Get help in the discord channel](https://discord.gg/quwueFd)
     - Watch [Lichess Bot TV](https://lichess.org/tv/bot)
  name: Bot
- description: |
    Send and receive challenges to play.

    To create a lot of challenges, consider [bulk pairing](#operation/bulkPairingCreate) instead.
  name: Challenges
- description: |
    Create many games for other players.

    These endpoints are intended for tournament organisers.
  name: Bulk pairings
- description: |
    Access Arena tournaments played on Lichess.
    [Official Arena tournaments](https://lichess.org/tournament) are maintained by Lichess,
    but you can [create your own Arena tournaments](https://lichess.org/tournament/new) as well.
  name: Arena tournaments
- description: |
    Access Swiss tournaments played on Lichess.
    [Read more about Swiss tournaments.](https://lichess.org/swiss).
  name: Swiss tournaments
- description: |
    Access simuls played on Lichess.
    <https://lichess.org/simul>
  name: Simuls
- description: |
    Access Lichess studies.
    <https://lichess.org/study>
  name: Studies
- description: |
    Private messages with other players.
    <https://lichess.org/inbox>
  name: Messaging
- description: |
    Relay chess events on Lichess.
    [Official broadcasts](https://lichess.org/broadcast) are maintained by Lichess,
    but you can [create your own broadcasts](https://lichess.org/broadcast/new) to cover any live game or chess event.
    You will need to publish PGN on a public URL so that Lichess can pull updates from it.
    Alternatively, you can push PGN updates to Lichess using this API.

    Broadcasts are organized in tournaments, which have several rounds, which have several games.
    You must first create a tournament, then you can add rounds to them.
  name: Broadcasts
- description: |
    Access Lichess cloud evaluations database.
    <https://lichess.org/analysis>
  name: Analysis
- description: |
    **This API is in alpha and subject to change.**

    Use or provide external engine analysis.

    External engines can provide analysis on pages like the
    [analysis board](https://lichess.org/analysis), running as a service
    outside of the browser, or even on a different machine.
  name: External engine
- description: |
    Lookup positions from the [Lichess opening explorer](https://lichess.org/analysis#explorer).

    Runs <https://github.com/niklasf/lila-openingexplorer>.

    **The endpoint hostname is not lichess.org but explorer.lichess.ovh.**
  name: Opening Explorer
- description: |
    Lookup positions from the [Lichess tablebase server](https://lichess.org/blog/W3WeMyQAACQAdfAL/7-piece-syzygy-tablebases-are-complete).

    **The endpoint hostname is not lichess.org but tablebase.lichess.ovh.**
  name: Tablebase
- description: |
    Obtaining and revoking OAuth tokens.

    [Read about the Lichess API authentication methods and code examples](https://github.com/lichess-org/api/blob/master/example/README.md).
  name: OAuth
paths:
  /api/users/status:
    get:
      description: |
        Read the `online`, `playing` and `streaming` flags of several users.

        This API is very fast and cheap on lichess side.
        So you can call it quite often (like once every 5 seconds).

        Use it to track players and know when they're connected on lichess and playing games.
      operationId: apiUsersStatus
      parameters:
      - description: User IDs separated by commas. Up to 100 IDs.
        example: "aliquantus,chess-network,lovlas"
        explode: true
        in: query
        name: ids
        required: true
        schema: {}
        style: form
      - description: |
          Also return the ID of the game being played, if any, for each player, in a `playingId` field.
          Defaults to `false` to preserve server resources.
        example: true
        explode: true
        in: query
        name: withGameIds
        required: false
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: aliquantus
                  name: Aliquantus
                - id: chess-network
                  name: Chess-Network
                  title: NM
                  online: true
                  playing: true
                  streaming: true
                  patron: true
                items:
                  $ref: '#/components/schemas/apiUsersStatus_200_response_inner'
                type: array
          description: The list of users and their respective statuses.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get real-time users status
      tags:
      - Users
  /api/player:
    get:
      description: |
        Get the top 10 players for each speed and variant.

        See <https://lichess.org/player>.
      operationId: player
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Top10s'
          description: The list of variants with their respective top players.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get all top 10
      tags:
      - Users
  /api/player/top/{nb}/{perfType}:
    get:
      description: |
        Get the leaderboard for a single speed or variant (a.k.a. `perfType`).
        There is no leaderboard for correspondence or puzzles.

        See <https://lichess.org/player/top/200/bullet>.
      operationId: playerTopNbPerfType
      parameters:
      - description: How many users to fetch
        explode: false
        in: path
        name: nb
        required: true
        schema:
          example: 100
          maximum: 200
          minimum: 1
        style: simple
      - description: The speed or variant
        explode: false
        in: path
        name: perfType
        required: true
        schema:
          enum:
          - ultraBullet
          - bullet
          - blitz
          - rapid
          - classical
          - chess960
          - crazyhouse
          - antichess
          - atomic
          - horde
          - kingOfTheHill
          - racingKings
          - threeCheck
          example: bullet
        style: simple
      responses:
        "200":
          content:
            application/vnd.lichess.v3+json:
              schema:
                $ref: '#/components/schemas/Leaderboard'
          description: The list of top players for the variant.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get one leaderboard
      tags:
      - Users
  /api/user/{username}:
    get:
      description: |
        Read public data of a user.

        If the request is [authenticated with OAuth2](#section/Authentication),
        then extra fields might be present in the response: `followable`, `following`, `blocking`, `followsYou`.
      operationId: apiUser
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema: {}
        style: simple
      - description: Include user trophies
        explode: true
        in: query
        name: trophies
        required: false
        schema:
          default: false
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExtended'
          description: The information of the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2: []
      summary: Get user public data
      tags:
      - Users
  /api/user/{username}/rating-history:
    get:
      description: |
        Read rating history of a user, for all perf types.
        There is at most one entry per day.
        Format of an entry is `[year, month, day, rating]`.
        `month` starts at zero (January).
      operationId: apiUserRatingHistory
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema: {}
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingHistory'
          description: The rating history of the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get rating history of a user
      tags:
      - Users
  /api/user/{username}/perf/{perf}:
    get:
      description: |
        Read performance statistics of a user, for a single performance.
        Similar to the [performance pages on the website](https://lichess.org/@/thibault/perf/bullet).
      operationId: apiUserPerf
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema: {}
        style: simple
      - explode: false
        in: path
        name: perf
        required: true
        schema:
          $ref: '#/components/schemas/PerfType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerfStat'
          description: The performance statistics of the user
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get performance statistics of a user
      tags:
      - Users
  /api/user/{username}/activity:
    get:
      description: |
        Read data to generate the activity feed of a user.
      operationId: apiUserActivity
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema: {}
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: https://gist.github.com/ornicar/0ee2d2427cb74ed1a35e86f5ba09fabc
          description: The activity feed of the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get user activity
      tags:
      - Users
  /api/puzzle/daily:
    get:
      description: |
        Get the daily Lichess puzzle in JSON format.

        Alternatively, you can [post it in your slack workspace](https://lichess.org/daily-puzzle-slack).
      operationId: apiPuzzleDaily
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleJson'
          description: The daily puzzle.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get the daily puzzle
      tags:
      - Puzzles
  /api/puzzle/{id}:
    get:
      description: Get a single Lichess puzzle in JSON format.
      operationId: apiPuzzleId
      parameters:
      - description: The puzzle ID
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleJson'
          description: The requested puzzle.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get a puzzle by its ID
      tags:
      - Puzzles
  /api/puzzle/activity:
    get:
      description: |
        Download your puzzle activity in [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Puzzle activity is sorted by reverse chronological order (most recent first)

        We recommend streaming the response, for it can be very long.
      operationId: apiPuzzleActivity
      parameters:
      - description: How many entries to download. Leave empty to download all activity.
        explode: true
        in: query
        name: max
        required: false
        schema:
          minimum: 1
        style: form
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/PuzzleRoundJson'
          description: The puzzle activity of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2:
        - puzzle:read
      summary: Get your puzzle activity
      tags:
      - Puzzles
  /api/puzzle/dashboard/{days}:
    get:
      description: |
        Download your [puzzle dashboard](https://lichess.org/training/dashboard/30/dashboard) as JSON.

        Also includes all puzzle themes played, with aggregated results.

        Allows re-creating the [improvement/strengths](https://lichess.org/training/dashboard/30/improvementAreas) interfaces.
      operationId: apiPuzzleDashboard
      parameters:
      - description: How many days to look back when aggregating puzzle results. 30
          is sensible.
        explode: false
        in: path
        name: days
        required: true
        schema:
          minimum: 1
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleDashboardJson'
          description: The puzzle dashboard of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2:
        - puzzle:read
      summary: Get your puzzle dashboard
      tags:
      - Puzzles
  /api/storm/dashboard/{username}:
    get:
      description: |
        Download the [storm dashboard](https://lichess.org/storm/dashboard/mrbasso) of any player as JSON.

        Contains the aggregated highscores, and the history of storm runs aggregated by days.

        Use `?days=0` if you only care about the highscores.
      operationId: apiStormDashboard
      parameters:
      - description: Username of the player
        explode: false
        in: path
        name: username
        required: true
        schema: {}
        style: simple
      - description: How many days of history to return
        explode: true
        in: query
        name: days
        required: false
        schema:
          default: 30
          maximum: 365
          minimum: 0
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StormDashboardJson'
          description: The storm dashboard of a player.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get the storm dashboard of a player
      tags:
      - Puzzles
  /api/racer:
    post:
      description: |
        Create a new private [puzzle race](https://lichess.org/racer).
        The Lichess user who creates the race must join the race page,
        and manually start the race when enough players have joined.

        - <https://lichess.org/racer>
      operationId: racerPost
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleRaceJson'
          description: The new puzzle race.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2:
        - racer:write
      summary: Create and join a puzzle race
      tags:
      - Puzzles
  /api/users:
    post:
      description: |
        Get up to 300 users by their IDs. Users are returned in the same order as the IDs.

        The method is `POST` so a longer list of IDs can be sent in the request body.
      operationId: apiUsers
      requestBody:
        content:
          text/plain:
            example: "aliquantus,chess-network,lovlas"
            schema: {}
        description: User IDs separated by commas.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: The list of users.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get users by ID
      tags:
      - Users
  /api/account:
    get:
      description: |
        Public information about the logged in user.
      operationId: accountMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExtended'
          description: The public information about the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2: []
      summary: Get my profile
      tags:
      - Account
  /api/account/email:
    get:
      description: |
        Read the email address of the logged in user.
      operationId: accountEmail
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountEmail_200_response'
          description: The email address of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2:
        - email:read
      summary: Get my email address
      tags:
      - Account
  /api/account/preferences:
    get:
      description: |
        Read the preferences of the logged in user.

        - <https://lichess.org/account/preferences/game-display>
        - <https://github.com/ornicar/lila/blob/master/modules/pref/src/main/Pref.scala>
      operationId: account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account_200_response'
          description: The preferences of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2:
        - preference:read
      summary: Get my preferences
      tags:
      - Account
  /api/account/kid:
    get:
      description: |
        Read the kid mode status of the logged in user.

        - <https://lichess.org/account/kid>
      operationId: accountKid
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountKid_200_response'
          description: The kid mode status of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2:
        - preference:read
      summary: Get my kid mode status
      tags:
      - Account
    post:
      description: |
        Set the kid mode status of the logged in user.

        - <https://lichess.org/account/kid>
      operationId: accountKidPost
      parameters:
      - description: Kid mode status
        example: true
        explode: true
        in: query
        name: v
        required: true
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
          description: The kid mode status was set successfully for the logged in
            user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2:
        - preference:write
      summary: Set my kid mode status
      tags:
      - Account
  /game/export/{gameId}:
    get:
      description: |
        Download one game in either PGN or JSON format.

        Ongoing games have their last 3 moves omitted, after move 5.
      operationId: gamePgn
      parameters:
      - description: The game ID (8 characters).
        explode: false
        in: path
        name: gameId
        required: true
        schema: {}
        style: simple
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include analysis evaluation comments in the PGN, when available.

          Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include the opening name.

          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: true
        style: form
      - description: |
          Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.

          Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
        explode: true
        in: query
        name: literate
        required: false
        schema:
          default: false
        style: form
      - description: |
          URL of a text file containing real names and ratings, to replace Lichess usernames and ratings in the PGN.
          Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
        explode: true
        in: query
        name: players
        required: false
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/json:
              schema:
                $ref: '#/components/schemas/GameJson'
          description: The game representation.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Export one game
      tags:
      - Games
  /api/user/{username}/current-game:
    get:
      description: |
        Download the ongoing game, or the last game played, of a user.
        Available in either PGN or JSON format.
        If the game is ongoing, the 3 last moves are omitted.
      operationId: apiUserCurrentGame
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema: {}
        style: simple
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include analysis evaluation comments in the PGN, when available.

          Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include the opening name.

          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: true
        style: form
      - description: |
          Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.

          Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
        explode: true
        in: query
        name: literate
        required: false
        schema:
          default: false
        style: form
      - description: |
          URL of a text file containing real names and ratings, to replace Lichess usernames and ratings in the PGN.
          Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
        explode: true
        in: query
        name: players
        required: false
        schema: {}
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/json:
              schema:
                $ref: '#/components/schemas/GameJson'
          description: The ongoing (or last) game of a user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Export ongoing game of a user
      tags:
      - Games
  /api/games/user/{username}:
    get:
      description: |
        Download all games of any user in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Games are sorted by reverse chronological order (most recent first).

        We recommend streaming the response, for it can be very long.
        <https://lichess.org/@/german11> for instance has more than 500,000 games.

        The game stream is throttled, depending on who is making the request:
          - Anonymous request: 20 games per second
          - [OAuth2 authenticated](#section/Authentication) request: 30 games per second
          - Authenticated, downloading your own games: 60 games per second
      operationId: apiGamesUser
      parameters:
      - description: The user name.
        explode: false
        in: path
        name: username
        required: true
        schema: {}
        style: simple
      - description: Download games played since this timestamp. Defaults to account
          creation date.
        explode: true
        in: query
        name: since
        required: false
        schema:
          minimum: 1356998400070
        style: form
      - description: Download games played until this timestamp. Defaults to now.
        explode: true
        in: query
        name: until
        required: false
        schema:
          minimum: 1356998400070
        style: form
      - description: How many games to download. Leave empty to download all games.
        explode: true
        in: query
        name: max
        required: false
        schema:
          minimum: 1
        style: form
      - description: "[Filter] Only games played against this opponent"
        explode: true
        in: query
        name: vs
        required: false
        schema: {}
        style: form
      - description: "[Filter] Only rated (`true`) or casual (`false`) games"
        explode: true
        in: query
        name: rated
        required: false
        schema: {}
        style: form
      - description: "[Filter] Only games in these speeds or variants.\n \nMultiple\
          \ perf types can be specified, separated by a comma.\n \nExample: blitz,rapid,classical"
        explode: true
        in: query
        name: perfType
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/PerfType'
          - default: null
        style: form
      - description: "[Filter] Only games played as this color."
        explode: true
        in: query
        name: color
        required: false
        schema:
          enum:
          - white
          - black
        style: form
      - description: "[Filter] Only games with or without a computer analysis available"
        explode: true
        in: query
        name: analysed
        required: false
        schema: {}
        style: form
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema: {}
        style: form
      - description: |-
          Include the full PGN within the JSON response, in a `pgn` field.
          The response type must be set to `application/x-ndjson` by the request `Accept` header.
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: false
        style: form
      - description: |
          Include analysis evaluation comments in the PGN, when available.

          Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: false
        style: form
      - description: |
          Include the opening name.

          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: false
        style: form
      - description: Include ongoing games. The last 3 moves will be omitted.
        explode: true
        in: query
        name: ongoing
        required: false
        schema:
          default: false
        style: form
      - description: Include finished games. Set to `false` to only get ongoing games.
        explode: true
        in: query
        name: finished
        required: false
        schema:
          default: true
        style: form
      - description: |
          Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.

          Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
        explode: true
        in: query
        name: literate
        required: false
        schema:
          default: false
        style: form
      - description: |
          URL of a text file containing real names and ratings, to replace Lichess usernames and ratings in the PGN.
          Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
        explode: true
        in: query
        name: players
        required: false
        schema: {}
        style: form
      - description: Sort order of the games.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: dateDesc
          enum:
          - dateAsc
          - dateDesc
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'
          description: The games of the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2: []
      summary: Export games of a user
      tags:
      - Games
  /api/games/export/_ids:
    post:
      description: |
        Download games by IDs in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format, depending on the request Accept header.

        Games are sorted by reverse chronological order (most recent first)

        The method is `POST` so a longer list of IDs can be sent in the request body.

        300 IDs can be submitted.

        Ongoing games have their last 3 moves omitted, after move 5.
      operationId: gamesExportIds
      parameters:
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: false
        style: form
      - description: |
          Include analysis evaluation comments in the PGN, when available.

          Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: false
        style: form
      - description: |
          Include the opening name.

          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: false
        style: form
      - description: |
          Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.

          Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
        explode: true
        in: query
        name: literate
        required: false
        schema:
          default: false
        style: form
      - description: |
          URL of a text file containing real names and ratings, to replace Lichess usernames and ratings in the PGN.
          Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
        explode: true
        in: query
        name: players
        required: false
        schema: {}
        style: form
      requestBody:
        content:
          text/plain:
            example: "TJxUmbWK,4OtIh2oh,ILwozzRZ"
            schema: {}
        description: Game IDs separated by commas. Up to 300.
        required: true
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'
          description: The representation of the games.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Export games by IDs
      tags:
      - Games
  /api/stream/games-by-users:
    post:
      description: |
        Stream the games played between a list of users, in real time.
        Only games where **both players** are part of the list are included.

        The stream emits an event each time a game is started or finished.

        To also get all current ongoing games at the beginning of the stream, use the `withCurrentGames` flag.

        Games are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).

        Maximum number of users: 300.

        The method is `POST` so a longer list of IDs can be sent in the request body.
      operationId: gamesByUsers
      parameters:
      - description: Include the already started games at the beginning of the stream.
        explode: true
        in: query
        name: withCurrentGames
        required: false
        schema:
          default: false
        style: form
      requestBody:
        content:
          text/plain:
            schema: {}
        description: |
          Up to 300 user IDs separated by commas.
          Example: `aliquantus,chess-network,lovlas`
        required: true
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameStream'
          description: The stream of the games played between the users.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Stream games of users
      tags:
      - Games
  /api/stream/games/{streamId}:
    post:
      description: |
        Creates a stream of games from an arbitrary streamId, and a list of game IDs.

        The stream first outputs the games that already exists, then emits an event each time a game is started or finished.

        Games are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).

        Maximum number of games: 500 for anonymous requests, or 1000 for [OAuth2 authenticated](#section/Authentication) requests.

        While the stream is open, it is possible to [add new game IDs to watch](#operation/gamesByIdsAdd).
      operationId: gamesByIds
      parameters:
      - explode: false
        in: path
        name: streamId
        required: true
        schema:
          description: Arbitrary stream ID that you can later use to add game IDs
            to the stream.
          example: myAppName-someRandomId
        style: simple
      requestBody:
        content:
          text/plain:
            schema: {}
        description: |
          Up to 500 or 1000 game IDs separated by commas.
          Example: `gameId01,gameId02,gameId03`
        required: true
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameStream'
          description: The stream of the games matching the requested IDs.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Stream games by IDs
      tags:
      - Games
  /api/stream/games/{streamId}/add:
    post:
      description: |
        Add new game IDs for [an existing stream](#operation/gamesByIds) to watch.
        The stream will immediately outputs the games that already exists, then emit an event each time a game is started or finished.
      operationId: gamesByIdsAdd
      parameters:
      - explode: false
        in: path
        name: streamId
        required: true
        schema:
          description: "The stream ID you used to [create the stream](#operation/gamesByIds)."
          example: myAppName-someRandomId
        style: simple
      requestBody:
        content:
          text/plain:
            schema: {}
        description: |
          Up to 500 or 1000 game IDs separated by commas.
          Example: `gameId04,gameId05,gameId06`
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
          description: The game IDs have been added to the stream.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Add game IDs to stream
      tags:
      - Games
  /api/account/playing:
    get:
      description: |
        Get the ongoing games of the current user.
        Real-time and correspondence games are included.
        The most urgent games are listed first.
      operationId: apiAccountPlaying
      parameters:
      - description: Max number of games to fetch
        explode: true
        in: query
        name: nb
        required: false
        schema:
          default: 9
          maximum: 50
          minimum: 1
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  nowPlaying:
                  - gameId: rCRw1AuO
                    fullId: rCRw1AuOvonq
                    color: black
                    fen: r1bqkbnr/pppp2pp/2n1pp2/8/8/3PP3/PPPB1PPP/RN1QKBNR w KQkq
                      - 2 4
                    hasMoved: true
                    isMyTurn: false
                    lastMove: b8c6
                    opponent:
                      id: philippe
                      rating: 1790
                      username: Philippe
                    perf: correspondence
                    rated: false
                    secondsLeft: 1209600
                    source: friend
                    speed: correspondence
                    variant:
                      key: standard
                      name: Standard
          description: The ongoing games of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2: []
      summary: Get my ongoing games
      tags:
      - Games
  /api/stream/game/{id}:
    get:
      description: |
        Stream positions and moves of any ongoing game, in [ndjson](#section/Introduction/Streaming-with-ND-JSON).

        A description of the game is sent as a first message.
        Then a message is sent each time a move is played.
        Finally a description of the game is sent when it finishes, and the stream is closed.

        After move 5, the stream intentionally remains 3 moves behind the game status, as to prevent cheat bots from using this API.

        No more than 8 game streams can be opened at the same time from the same IP address.
      operationId: streamGame
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: LuGQwhBb
        style: simple
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/MoveStream'
          description: The stream of the game moves.
      security: []
      summary: Stream moves of a game
      tags:
      - Games
  /api/import:
    post:
      description: |
        Import a game from PGN. See <https://lichess.org/paste>.

        Rate limiting: 200 games per hour for OAuth requests, 100 games per hour for anonymous requests.

        To broadcast ongoing games, consider [pushing to a broadcast instead](#operation/broadcastPush).
      operationId: gameImport
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/gameImport_request'
        description: A single game to import
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  id: R6iLjwz5
                  url: https://lichess.org/R6iLjwz5
          description: The game was successfully imported.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2: []
      summary: Import one game
      tags:
      - Games
  /api/tv/channels:
    get:
      description: |
        Get basic info about the best games being played for each speed and variant,
        but also computer games and bot games.

        See [lichess.org/tv](https://lichess.org/tv).
      operationId: tvChannels
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  Bot:
                    user:
                      id: leelachess
                      name: LeelaChess
                      title: BOT
                    rating: 2660
                    gameId: Zznv9MIl
                  Blitz:
                    user:
                      id: lekkerkortook
                      name: LekkerKortOok
                    rating: 2603
                    gameId: hTJ4v7Mp
                  Racing Kings:
                    user:
                      id: chesslo21
                      name: chesslo21
                    rating: 2123
                    gameId: lgCDl5Of
                  UltraBullet:
                    user:
                      id: farmville
                      name: Farmville
                    rating: 2338
                    gameId: NEY6OQ32
                  Bullet:
                    user:
                      id: nurmibrah
                      name: nurmiBrah
                    rating: 2499
                    gameId: 5LgyE516
                  Classical:
                    user:
                      id: holden_m_j_thomas
                      name: Holden_M_J_Thomas
                    rating: 1806
                    gameId: k3oLby6N
                  Three-check:
                    user:
                      id: pepellou
                      name: pepellou
                      patron: true
                    rating: 1978
                    gameId: Og5RCvmu
                  Antichess:
                    user:
                      id: maria-bakkar
                      name: maria-bakkar
                    rating: 2103
                    gameId: toCr41yx
                  Computer:
                    user:
                      id: oh_my_goat_im_so_bat
                      name: oh_my_goat_Im_so_bat
                    rating: 2314
                    gameId: TkI4qZxu
                  Horde:
                    user:
                      id: habitualchess
                      name: HabitualChess
                    rating: 1803
                    gameId: oMofN63H
                  Rapid:
                    user:
                      id: denpayd
                      name: DenpaYD
                    rating: 2289
                    gameId: IcWOl8ee
                  Atomic:
                    user:
                      id: meetyourdemise
                      name: MeetYourDemise
                    rating: 2210
                    gameId: tvMxtCMN
                  Crazyhouse:
                    user:
                      id: mathace
                      name: mathace
                    rating: 2397
                    gameId: i3gTZlUb
                  Chess960:
                    user:
                      id: voja_7
                      name: voja_7
                    rating: 1782
                    gameId: lrXLcedu
                  King of the Hill:
                    user:
                      id: nadime
                      name: Nadime
                    rating: 1500
                    gameId: DsQn8aEV
                  Top Rated:
                    user:
                      id: lekkerkortook
                      name: LekkerKortOok
                    rating: 2603
                    gameId: hTJ4v7Mp
          description: The list of games being played for each speed and variant.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get current TV games
      tags:
      - TV
  /api/tv/feed:
    get:
      description: |
        Stream positions and moves of the current [TV game](https://lichess.org/tv) in [ndjson](#section/Introduction/Streaming-with-ND-JSON).
        A summary of the game is sent as a first message, and when the featured game changes.

        Try it with `curl https://lichess.org/api/tv/feed`.
      operationId: tvFeed
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                example:
                  t: featured
                  d:
                    id: qVSOPtMc
                    orientation: black
                    players:
                    - color: white
                      user:
                        name: lizen9
                        id: lizen9
                        title: GM
                      rating: 2531
                    - color: black
                      user:
                        name: lizen29
                        title: WGM
                        id: lizen29
                      rating: 2594
                    fen: rnbqk1r1/ppp1ppbp/8/N2p2p1/8/1PQPP3/P1P2PPn/R1B1K1NR
          description: The stream of the current TV game.
      security: []
      summary: Stream current TV game
      tags:
      - TV
  /api/tv/{channel}:
    get:
      description: |
        Get a list of ongoing games for a given TV channel. Similar to [lichess.org/games](https://lichess.org/games).

        Available in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format, depending on the request Accept header.
      operationId: tvChannelGames
      parameters:
      - description: The name of the channel in camel case.
        explode: false
        in: path
        name: channel
        required: true
        schema: {}
        style: simple
      - description: Number of games to fetch.
        explode: true
        in: query
        name: nb
        required: false
        schema:
          default: 10
          maximum: 30
          minimum: 1
        style: form
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: false
        style: form
      - description: |
          Include the opening name.

          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: false
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'
          description: The representation of the games.
      security: []
      summary: Get best ongoing games of a TV channel
      tags:
      - TV
  /api/tournament:
    get:
      description: |
        Get recently finished, ongoing, and upcoming tournaments.

        This API is used to display the [Lichess tournament schedule](https://lichess.org/tournament).
      operationId: apiTournament
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournaments'
          description: The list of current tournaments.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get current tournaments
      tags:
      - Arena tournaments
    post:
      description: |
        Create a public or private Arena tournament.

        This endpoint mirrors the form on <https://lichess.org/tournament/new>.

        You can create up to 12 public tournaments per day, or 24 private tournaments.

        A team battle can be created by specifying the `teambBattleByTeam` argument.

        Additional restrictions:
          - clockTime + clockIncrement > 0
          - 15s and 0+1 variant tournaments cannot be rated
          - Clock time in comparison to tournament length must be reasonable: 3 <= (minutes * 60) / (96 * clockTime + 48 * clockIncrement + 15) <= 150
      operationId: apiTournamentPost
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/apiTournamentPost_request'
        description: Parameters of the tournament
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournament'
          description: The Arena tournament has been successfully created.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The creation of the Arena tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Create a new Arena tournament
      tags:
      - Arena tournaments
  /api/tournament/{id}:
    get:
      description: |
        Get detailed info about recently finished, current, or upcoming tournament's duels, player standings, and other info.
      operationId: tournament
      parameters:
      - description: Specify which page of player standings to view.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          maximum: 200
          minimum: 1
        style: form
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournamentVariantIsKey'
          description: The information of the Arena tournament.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get info about an Arena tournament
      tags:
      - Arena tournaments
    parameters:
    - description: The tournament ID.
      explode: false
      in: path
      name: id
      required: true
      schema: {}
      style: simple
    post:
      description: |
        Update an Arena tournament.

        Be mindful not to make important changes to ongoing tournaments.

        Can be used to update a team battle.

        Additional restrictions:
          - clockTime + clockIncrement > 0
          - 15s and 0+1 variant tournaments cannot be rated
          - Clock time in comparison to tournament length must be reasonable: 3 <= (minutes * 60) / (96 * clockTime + 48 * clockIncrement + 15) <= 150
      operationId: apiTournamentUpdate
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/apiTournamentUpdate_request'
        description: Parameters of the tournament
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournament'
          description: The Arena tournament was successfully updated.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The update of the Arena tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Update an Arena tournament
      tags:
      - Arena tournaments
  /api/tournament/{id}/join:
    post:
      description: |
        Join an Arena tournament, possibly with a password and/or a team.
        Also unpauses if you had previously [paused](#operation/apiTournamentWithdraw) the tournament.
      operationId: apiTournamentJoin
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: hL7vMrFQ
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/apiTournamentJoin_request'
        description: You may need these depending on the tournament to join
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
          description: The tournament was successfully joined.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Joining the tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Join an Arena tournament
      tags:
      - Arena tournaments
  /api/tournament/{id}/withdraw:
    post:
      description: |
        Leave a future Arena tournament, or take a break on an ongoing Arena tournament.
        It's possible to join again later. Points and streaks are preserved.
      operationId: apiTournamentWithdraw
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: hL7vMrFQ
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
          description: The tournament was successfully paused or left.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Pausing/leaving the tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Pause or leave an Arena tournament
      tags:
      - Arena tournaments
  /api/tournament/{id}/terminate:
    post:
      description: |
        Terminate an Arena tournament
      operationId: apiTournamentTerminate
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: hL7vMrFQ
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
          description: The tournament was successfully terminated.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Terminating the tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Terminate an Arena tournament
      tags:
      - Arena tournaments
  /api/tournament/team-battle/{id}:
    post:
      description: |
        Set the teams and number of leaders of a team battle.

        To update the other attributes of a team battle, use the [tournament update endpoint](#operation/apiTournamentUpdate).
      operationId: apiTournamentTeamBattlePost
      parameters:
      - description: The tournament ID (8 characters)..
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/apiTournamentTeamBattlePost_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournament'
          description: The team battle tournament was successfully updated.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The update of the team battle tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Update a team battle
      tags:
      - Arena tournaments
  /api/tournament/{id}/games:
    get:
      description: |
        Download games of a tournament in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Games are sorted by reverse chronological order (most recent first).

        The game stream is throttled, depending on who is making the request:
          - Anonymous request: 20 games per second
          - [OAuth2 authenticated](#section/Authentication) request: 30 games per second
      operationId: gamesByTournament
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      - description: Only games of a particular player. Leave empty to fetch games
          of all players.
        explode: true
        in: query
        name: player
        required: false
        schema: {}
        style: form
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: false
        style: form
      - description: |
          Include analysis evaluation comments in the PGN, when available.

          Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: false
        style: form
      - description: |
          Include the opening name.

          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: false
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'
          description: The list of games of an Arena tournament.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Export games of an Arena tournament
      tags:
      - Arena tournaments
  /api/tournament/{id}/results:
    get:
      description: |
        Players of an Arena tournament, with their score and performance, sorted by rank (best first).

        **Players are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON)**, i.e. one JSON object per line.

        If called on an ongoing tournament, results can be inconsistent
        due to ranking changes while the players are being streamed.
        Use on finished tournaments for guaranteed consistency.
      operationId: resultsByTournament
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      - description: Max number of players to fetch
        explode: true
        in: query
        name: nb
        required: false
        schema:
          minimum: 1
        style: form
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                example:
                  rank: 4
                  score: 389
                  rating: 2618
                  username: opperwezen
                  title: IM
                  performance: 2423
                  team: coders
          description: The results of the Arena tournament.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get results of an Arena tournament
      tags:
      - Arena tournaments
  /api/tournament/{id}/teams:
    get:
      description: |
        Teams of a team battle tournament, with top players, sorted by rank (best first).
      operationId: teamsByTournament
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  id: CdPg1ey4
                  teams:
                  - rank: 1
                    id: cat-lovers
                    score: 842
                    players:
                    - user:
                        name: lizen69
                        id: lizen69
                      score: 54
                    - user:
                        name: lizen249
                        id: lizen249
          description: "The list of teams of a team battle tournament, with their\
            \ respective top players."
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get team standing of a team battle
      tags:
      - Arena tournaments
  /api/user/{username}/tournament/created:
    get:
      description: |
        Get all tournaments created by a given user.

        Tournaments are sorted by reverse chronological order of start date (last starting first).

        Tournaments are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).
      operationId: apiUserNameTournamentCreated
      parameters:
      - description: The user whose created tournaments to fetch
        explode: false
        in: path
        name: username
        required: true
        schema: {}
        style: simple
      - description: "Include tournaments in the given status: \"Created\" (10), \"\
          Started\" (20), \"Finished\" (30)\n\nYou can add this parameter more than\
          \ once to include tournaments in different statuses. \n\nExample: `?status=10&status=20`\n"
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - 10
          - 20
          - 30
        style: form
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ArenaTournament'
          description: The list of tournaments created by the user.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get tournaments created by a user
      tags:
      - Arena tournaments
  /api/swiss/new/{teamId}:
    post:
      description: |
        Create a Swiss tournament for your team.

        This endpoint mirrors the Swiss tournament form from your team pagee.

        You can create up to 12 tournaments per day.

        Additional restrictions:
          - clock.limit + clock.increment > 0
          - 15s and 0+1 variant tournaments cannot be rated
      operationId: apiSwissNew
      parameters:
      - description: ID of the team
        explode: false
        in: path
        name: teamId
        required: true
        schema: {}
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/apiSwissNew_request'
        description: Parameters of the tournament
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwissTournament'
          description: The Swiss tournament was successfully created.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The creation of the Swiss tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Create a new Swiss tournament
      tags:
      - Swiss tournaments
  /api/swiss/{id}:
    get:
      description: |
        Get detailed info about a Swiss tournament.
      operationId: swiss
      parameters:
      - description: The Swiss tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwissTournament'
          description: The information of the Swiss tournament.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get info about a Swiss tournament
      tags:
      - Swiss tournaments
    parameters:
    - description: The Swiss tournament ID.
      explode: false
      in: path
      name: id
      required: true
      schema: {}
      style: simple
  /api/swiss/{id}/edit:
    post:
      description: |
        Update a Swiss tournament.

        Be mindful not to make important changes to ongoing tournaments.

        Additional restrictions:
          - clock.limit + clock.increment > 0
          - 15s and 0+1 variant tournaments cannot be rated
      operationId: apiSwissUpdate
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: hL7vMrFQ
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/apiSwissNew_request'
        description: Parameters of the tournament
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwissTournament'
          description: The Swiss tournament was successfully updated.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Updating the swiss failed.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwissUnauthorisedEdit'
          description: This user cannot update this Swiss.
      security:
      - OAuth2:
        - tournament:write
      summary: Update a Swiss tournament.
      tags:
      - Swiss tournaments
  /api/swiss/{id}/join:
    post:
      description: |
        Join a Swiss tournament, possibly with a password.
      operationId: apiSwissJoin
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: hL7vMrFQ
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/apiSwissJoin_request'
        description: You may need these depending on the tournament to join
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
          description: The tournament was successfully joined.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Joining the tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Join a Swiss tournament
      tags:
      - Swiss tournaments
  /api/swiss/{id}/withdraw:
    post:
      description: |
        Leave a future Swiss tournament, or take a break on an ongoing Swiss tournament.
        It's possible to join again later. Points are preserved.
      operationId: apiSwissWithdraw
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: hL7vMrFQ
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
          description: The tournament was successfully paused or left.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security:
      - OAuth2:
        - tournament:write
      summary: Pause or leave a swiss tournament
      tags:
      - Swiss tournaments
  /api/swiss/{id}/terminate:
    post:
      description: |
        Terminate a Swiss tournament
      operationId: apiSwissTerminate
      parameters:
      - description: The Swiss tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: W5FrxusN
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
          description: The Swiss tournament was successfully terminated.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Terminating the Swiss tournament failed.
      security:
      - OAuth2:
        - tournament:write
      summary: Terminate a Swiss tournament
      tags:
      - Swiss tournaments
  /swiss/{id}.trf:
    get:
      description: |
        Download a tournament in the Tournament Report File format, the FIDE standard.

        Documentation: <https://www.fide.com/FIDE/handbook/C04Annex2_TRF16.pdf>

        Example: <https://lichess.org/swiss/j8rtJ5GL.trf>
      operationId: swissTrf
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema: {}
          description: The TRF representation of a Swiss tournament.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Export TRF of a Swiss tournament
      tags:
      - Swiss tournaments
  /api/swiss/{id}/games:
    get:
      description: |
        Download games of a swiss tournament in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Games are sorted by reverse chronological order (last round first).

        The game stream is throttled, depending on who is making the request:
          - Anonymous request: 20 games per second
          - [OAuth2 authenticated](#section/Authentication) request: 30 games per second
      operationId: gamesBySwiss
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      - description: Include the PGN moves.
        explode: true
        in: query
        name: moves
        required: false
        schema:
          default: true
        style: form
      - description: "Include the full PGN within the JSON response, in a `pgn` field."
        explode: true
        in: query
        name: pgnInJson
        required: false
        schema:
          default: false
        style: form
      - description: Include the PGN tags.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: false
        style: form
      - description: |
          Include analysis evaluation comments in the PGN, when available.

          Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
        explode: true
        in: query
        name: evals
        required: false
        schema:
          default: false
        style: form
      - description: |
          Include the opening name.

          Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
        explode: true
        in: query
        name: opening
        required: false
        schema:
          default: false
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'
          description: The list of games of a Swiss tournament.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Export games of a Swiss tournament
      tags:
      - Swiss tournaments
  /api/swiss/{id}/results:
    get:
      description: |
        Players of a swiss tournament, with their score and performance, sorted by rank (best first).

        Players are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).

        If called on an ongoing tournament, results can be inconsistent
        due to ranking changes while the players are being streamed.
        Use on finished tournaments for guaranteed consistency.
      operationId: resultsBySwiss
      parameters:
      - description: The tournament ID.
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      - description: Max number of players to fetch
        explode: true
        in: query
        name: nb
        required: false
        schema:
          minimum: 1
        style: form
      responses:
        "200":
          content:
            application/x-ndjson:
              schema:
                example:
                  rank: 4
                  points: 8.5
                  tieBreak: 77
                  rating: 2618
                  username: opperwezen
                  title: IM
                  performance: 2423
          description: The results of a Swiss tournament.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get results of a swiss tournament
      tags:
      - Swiss tournaments
  /api/team/{teamId}/swiss:
    get:
      description: |
        Get all swiss tournaments of a team.

        Tournaments are sorted by reverse chronological order of start date (last starting first).

        Tournaments are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).
      operationId: apiTeamSwiss
      parameters:
      - example: coders
        explode: false
        in: path
        name: teamId
        required: true
        schema: {}
        style: simple
      - description: How many tournaments to download.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 100
          minimum: 1
        style: form
      responses:
        "200":
          content:
            application/nd-json:
              schema:
                $ref: '#/components/schemas/SwissTournament'
          description: The list of Swiss tournaments of a team.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Get team swiss tournaments
      tags:
      - Teams
      - Swiss tournaments
  /study/{studyId}/{chapterId}.pgn:
    get:
      description: |
        Download one study chapter in PGN format.
      operationId: studyChapterPgn
      parameters:
      - description: The study ID (8 characters).
        explode: false
        in: path
        name: studyId
        required: true
        schema: {}
        style: simple
      - description: The chapter ID (8 characters).
        explode: false
        in: path
        name: chapterId
        required: true
        schema: {}
        style: simple
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include analysis and annotator comments in the PGN moves, when available.

          Example: `12. Bxf6 { [%eval 0.23] } a3 { White is in a pickle. }`
        explode: true
        in: query
        name: comments
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include non-mainline moves, when available.

          Example: `4. d4 Bb4+ (4... Nc6 5. Nf3 Bb4+ 6. Bd2 (6. Nbd2 O-O 7. O-O) 6... Bd6) 5. Nd2`
        explode: true
        in: query
        name: variations
        required: false
        schema:
          default: true
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/StudyPgn'
          description: The chapter of the study.
      security: []
      summary: Export one study chapter
      tags:
      - Studies
  /api/study/{studyId}.pgn:
    get:
      description: |
        Download all chapters of a study in PGN format.
      operationId: studyAllChaptersPgn
      parameters:
      - description: The study ID (8 characters).
        explode: false
        in: path
        name: studyId
        required: true
        schema: {}
        style: simple
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include analysis and annotator comments in the PGN moves, when available.

          Example: `12. Bxf6 { [%eval 0.23] } a3 { White is in a pickle. }`
        explode: true
        in: query
        name: comments
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include non-mainline moves, when available.

          Example: `4. d4 Bb4+ (4... Nc6 5. Nf3 Bb4+ 6. Bd2 (6. Nbd2 O-O 7. O-O) 6... Bd6) 5. Nd2`
        explode: true
        in: query
        name: variations
        required: false
        schema:
          default: true
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/StudyPgn'
          description: The PGN representation of the study.
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                default: '''*'''
              style: simple
      security: []
      summary: Export all chapters
      tags:
      - Studies
  /study/by/{username}/export.pgn:
    get:
      description: |
        Download all chapters of all studies of a user in PGN format.

        If authenticated, then all public, unlisted, and private studies are included.

        If not, only public, listed studies are included.
      operationId: studyExportAllPgn
      parameters:
      - description: The user whose studies we export
        explode: false
        in: path
        name: username
        required: true
        schema: {}
        style: simple
      - description: |
          Include clock comments in the PGN moves, when available.

          Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
        explode: true
        in: query
        name: clocks
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include analysis and annotator comments in the PGN moves, when available.

          Example: `12. Bxf6 { [%eval 0.23] } a3 { White is in a pickle. }`
        explode: true
        in: query
        name: comments
        required: false
        schema:
          default: true
        style: form
      - description: |
          Include non-mainline moves, when available.

          Example: `4. d4 Bb4+ (4... Nc6 5. Nf3 Bb4+ 6. Bd2 (6. Nbd2 O-O 7. O-O) 6... Bd6) 5. Nd2`
        explode: true
        in: query
        name: variations
        required: false
        schema:
          default: true
        style: form
      responses:
        "200":
          content:
            application/x-chess-pgn:
              schema:
                $ref: '#/components/schemas/StudyPgn'
          description: The studies of the user.
      security:
      - OAuth2:
        - study:read
      summary: Export all studies of a user
      tags:
      - Studies
  /api/broadcast:
    get:
      description: |
        Get all incoming, ongoing, and finished official broadcasts.
        The broadcasts are sorted by start date, most recent first.

        Broadcasts are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).
      operationId: broadcastIndex
      parameters:
      - description: Max number of broadcasts to fetch
        explode: true
        in: query
        name: nb
[...]
